<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Solvingmagento_DownloadableSize configuration
*
* @category Solvingmagento
* @package Solvingmagento_DownloadableSize
* @author Oleg Ishenko <oleg.ishenko@solvingmagento.com>
* @copyright 2013 Oleg Ishenko
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
* @version GIT: <0.1.0>
* @link http://www.solvingmagento.com/
*
*/
-->
<config>
    <modules>
        <Solvingmagento_DownloadableSize>
            <version>0.1.0</version>
        </Solvingmagento_DownloadableSize>
    </modules>
    <global>
        <helpers>
            <solvingmagento_downloadablesize>
                <class>Solvingmagento_DownloadableSize_Helper</class>
            </solvingmagento_downloadablesize>
        </helpers>
        <resources>
            <solvingmagento_downloadablesize_setup>
                <setup>
                    <module>Solvingmagento_DownloadableSize</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </solvingmagento_downloadablesize_setup>
        </resources>
        <events>
            <model_save_before>
                <observers>
                    <solvingmagento_downloadablesize>
                        <class>Solvingmagento_DownloadableSize_Model_Observer</class>
                        <method>saveFileSize</method>
                    </solvingmagento_downloadablesize>
                </observers>
            </model_save_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <solvingmagento_downloadablesize>
                    <file>solvingmagento_downloadablesize.xml</file>
                </solvingmagento_downloadablesize>
            </updates>
        </layout>
    </frontend>
</config>